@model PoolServiceModel

@{
	ViewData["Title"] = "Pool";
}

@{
	var nav = new NavigationViewModel { Title = ViewData["Title"].ToString() };
}

<partial name="_NavigationBg" model="@nav" />

<div class="section" id="carousel">
	<div class="container">
		<div class="row">
			<div class="mr-auto w-100">
				@if (!Model.Questions.Any())
				{
					<div class="text-center badge-info p-lg-3">
						<h1>No questions for now...</h1>
						<h3>Please come back when new questions arrive!</h3>
					</div>

					if (Model.IsOwner)
					{
						<div>
							<a class="btn btn-outline"
							   asp-controller="Questions"
							   asp-action="Add"
							   asp-route-id="@Model.GroupId">Add new question to the group</a>
						</div>
					}
				}
				else
				{

					<!-- Carousel Card -->
					<div class="card card-carousel">
						<div id="carouselExampleIndicators" class="carousel" data-interval="false">
							<ol class="carousel-indicators">
								@for (int i = 0; i < WebConstants.MaxQuestionAtPool; i++)
								{
									<li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==Model.CurrentQuestion? "active" : String.Empty)"></li>
								}
							</ol>
							<div class="carousel-inner">

								@{
									var count = 0;
									
									
									var isCurrentQuestionAnswered = Model.CurrentAnswers.Any(a=> a.QuestionId == Model.CurrentQuestionModel.Id);
								}

								<div class="carousel-item active">
									<img class="d-block w-100" src="@(Model.Group.ImageUrl)" alt="First slide">
									<div class="carousel-caption d-none d-lg-inline-block col-auto">
										<h4 class="text-capitalize font-weight-bold text-white bg-primary p-lg-3" readonly="readonly">
											<i class="material-icons">quiz</i>
											@Model.CurrentQuestionModel.Value
										</h4>

										@foreach (var answer in Model.CurrentQuestionModel.Answers)
										{
									<form method="post"
										  asp-controller="Answers"
										  asp-action="Respond">
										
										<input asp-for="CurrentAnswerId"
											   type="hidden"
											   class="form-control"
											   value="@answer.Id" />

										<input asp-for="GroupId"
											   type="hidden"
											   class="form-control"
											   value="@Model.GroupId" />

										<input asp-for="CurrentQuestion"
											   type="hidden"
											   class="form-control"
											   value="@(Model.CurrentQuestion)" />

										<input type="submit"
											   disabled="@(isCurrentQuestionAnswered ? "disabled": false)"
											   class="btn btn-block text-white"
											   value="@answer.Value" />

									</form>

										}
									</div>
								</div>

							</div>

							@{
								var previousQuestion = Model.CurrentQuestion - 1;
								if (previousQuestion < 0) previousQuestion = 0;

								var maxQuestion = Model.Questions.Count() - 1;

								var hasNext = Model.CurrentQuestion < maxQuestion;
								var hasPrev = Model.CurrentQuestion > 0;
							}
							@if (hasPrev)
							{
								<a class="carousel-control-prev"
								   asp-controller="Questions"
								   asp-action="Pool"
								   asp-route-CurrentQuestion="@(Model.PrevQuestion)"
								   asp-route-GroupId="@Model.GroupId"
								   role="button"
								   data-slide="prev">
									<i class="material-icons">keyboard_arrow_left</i>
									<span class="sr-only">Previous</span>
								</a>
							}

							@if (hasNext)
							{
								<a class="carousel-control-next"
								   asp-controller="Questions"
								   asp-action="Pool"
								   asp-route-CurrentQuestion="@(Model.NextQuestion)"
								   asp-route-GroupId="@Model.GroupId"
								   role="button"
								   data-slide="next">
									<i class="material-icons">keyboard_arrow_right</i>
									<span class="sr-only">Next</span>
								</a>
							}
						</div>
					</div>
				}

				<div>
					<a class="btn btn-default mt-lg-5" asp-controller="Groups" asp-action="Details" asp-route-id="@Model.GroupId">Back to the Group</a>
				</div>
				<!-- End Carousel Card -->
			</div>
		</div>
	</div>
</div>