@using Microsoft.AspNetCore.Identity

@model IEnumerable<Quizo.Models.Groups.GroupListingAllViewModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	ViewData["Title"] = "All Groups";
}

@if (!SignInManager.IsSignedIn(User))
{
	<script>
		window.location.href = "/Identity/Account/Login";
	</script>
}

<div class="page-header header-filter clear-filter purple-filter h-25" data-parallax="true" style="background-image: url('/assets/img/bgg.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<div class="brand">
					<h2>All</h2>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="section section-basic">
	<div class="container">
		<h1>Groups</h1>

		<p>
			<a asp-action="Create">Create New</a>
		</p>

		<div id="cards_landscape_wrap-2">
					<div class="container">
						<div class="row">
							@foreach (var group in Model)
							{
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
									<a href="">
										<div class="card-flyer">
											<div class="text-box">
												<div class="image-box">
													<img src="@group.ImageUrl" alt="@group.Name @group.OwnerName"/>
												</div>
												<div class="text-container">
													<h6>@group.OwnerName</h6>
													<h3>@group.Name</h3>
													<p>@group.Description</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							}
						</div>
					</div>
				</div>
	</div>
</div>


@*
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
			<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
			<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
		</td>
	</tr>*@