@model Quizo.Models.Groups.GroupDetailsViewModel

@{
	ViewData["Title"] = "Details";
}
<div class="page-header header-filter clear-filter purple-filter h-25" data-parallax="true" style="background-image: url('/assets/img/bgg.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<div class="brand">
					<h2>Info</h2>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="section section-basic">
	<div class="container">
		<div class="alert alert-info">
			<div class="container">
				<div class="alert-icon">
					<i class="material-icons">info_outline</i>
				</div>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true"><i class="material-icons">clear</i></span>
				</button>
				<b>Start the quiz: </b> You've got some questions to answer, begin your test now...
			</div>
		</div>

		<h1>@Model.Name Details</h1>


		<div id="navbar">
			<div class="navigation-example" style="background-image: url('@Model.ImageUrl');">

			</div>
		</div>



		<div class="col-lg-6 col-md-8">
			<ul class="nav nav-pills nav-pills-icons" role="tablist">
				<!--
				color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
				-->
				<li class="nav-item">
					<a class="nav-link active show" href="#dashboard-1" role="tab" data-toggle="tab" aria-selected="true">
						<i class="material-icons">description</i>
						Description
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="top" href="#schedule-1" role="tab" data-toggle="tab" aria-selected="false">
						<i class="material-icons">star</i>
						Top 10
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#schedule-2" role="tab" data-toggle="tab" aria-selected="false">
						<i class="material-icons">edit</i>
						Manage
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#tasks-1" role="tab" data-toggle="tab" aria-selected="false">
						<i class="material-icons">play_circle</i>
						Start Quiz
					</a>
				</li>
			</ul>
			<div class="tab-content tab-space">
				<div class="tab-pane active show" id="dashboard-1">
					<br />
					@Model.Description
					<br><br>
					@if (Model.IsOwner)
					{
						<h5>You are the owner of this group.</h5>
					}
				</div>

				<div class="tab-pane" id="schedule-1">
					<div class="container">
						<div class="row">
							<div class="w-100">
								<h6 class="text-muted">Top 10 by given answers!</h6>
								<br />

								<ul class="list-group list-group-flush">

									<li id="user1" class="list-group-item bg-light">...</li>
									<li id="user2" class="list-group-item bg-light">...</li>
									<li id="user3" class="list-group-item bg-light">...</li>
									<li id="user4" class="list-group-item">...</li>
									<li id="user5" class="list-group-item">...</li>
									<li id="user6" class="list-group-item">...</li>
									<li id="user7" class="list-group-item">...</li>
									<li id="user8" class="list-group-item">...</li>
									<li id="user9" class="list-group-item">...</li>
									<li id="user10" class="list-group-item">...</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane" id="schedule-2">
					<br />
					@if (Model.IsOwner)
					{
						<a class="btn-warning btn" asp-controller="Groups" asp-action="Edit" asp-route-id="@Model.Id">Edit Group</a>
						<span>Configure your group info.</span>
						<br><br>
						<a class="btn btn-danger" asp-controller="Groups" asp-action="Delete" asp-route-id="@Model.Id">Delete Group</a>
						<span>Delete your group.</span>
					}
					else
					{
						<br />
						<a class="btn-success btn"
						   asp-controller="Groups"
						   asp-action="Join"
						   asp-route-id="@Model.Id">Join this group now!</a>
						<span>Get access to the group quiz.</span>
					}
				</div>

				<div class="tab-pane" id="tasks-1">
					<br />
					@*<a asp-controller="">content</a>
					*@
					<br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
				</div>
			</div>
		</div>


		<div>
			<a asp-action="All">Back to List</a>
		</div>
	</div>
</div>


@section Scripts
{
	<script>
		$('#top').on('click',
			ev => {
				$.get('/api/standings/@Model.Id',
					data => {
						for (var i = 1; i <= 10; i++) {
							$((`#user${i}`)).html(`<div class="row w-100"><div class="alert alert-info w-100 d-flex p-1 m-0"><h5>${i}.</h5>` + '<h4 class="w-50">' + (data[i-1] == undefined ? 'No user' : data[i-1]) + '</h4></div></div>');
						}
					});
			});
	</script>
}

